name: CD to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.HOST }}
          username: ubuntu
          key: ${{ secrets.KEY }}
          script: |
            export MYSQL_HOST='${{ secrets.MYSQL_HOST }}'
            export MYSQL_USER='${{ secrets.MYSQL_USER }}'
            export MYSQL_PASSWORD='${{ secrets.MYSQL_PASSWORD }}'
            export JWT_SECRET_KEY='${{ secrets.JWT_SECRET_KEY }}'
            export SWAGGER_URL='${{ secrets.SWAGGER_URL }}'
            export REDIS_HOST='${{ secrets.REDIS_HOST }}'
            export REDIS_PORT='${{ secrets.REDIS_PORT }}'
            export REDIS_PASSWORD=''
            export ACCESS_KEY='${{ secrets.ACCESS_KEY }}'
            export SECRET_KEY='${{ secrets.SECRET_KEY }}'
            export BUCKET_NAME='${{ secrets.BUCKET_NAME }}'
            export MONGODB_URI='${{ secrets.MONGODB_URI }}'
            export AI_SERVER_URL='${{ secrets.AI_SERVER_URL }}'
            
            cd ${{ secrets.PROJECT_PATH }}infra/script
            chmod +x deploy.sh
            ./deploy.sh