name: Java CI with Gradle

on:
  pull_request:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      write-all

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle (with caching)
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: true

      - name: Permission gradlew
        run: chmod +x gradlew

      - name: Run tests
        env:
          SPRING_PROFILES_ACTIVE: test

          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          SWAGGER_URL: ${{ secrets.SWAGGER_URL }}

          SPRING_CLOUD_AWS_CREDENTIALS_ACCESS_KEY: test
          SPRING_CLOUD_AWS_CREDENTIALS_SECRET_KEY: test
          SPRING_CLOUD_AWS_S3_BUCKET: test
        run: ./gradlew clean test --no-build-cache

      - name: Post result
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          junit_files: '**/build/test-results/test/TEST-*.xml'

